.login-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn{
    border-radius: 5px;
    padding:10px 30px;
    border:none ;
    background-color: orange;
    color: white;
    box-shadow: 5px 5px 45px rgb(190, 190, 190);
    
}